/* Default color values */

@define-color envision_overlay_border_color @headerbar_shade_color;


/* Styling */

.video {
  background: black;
}

.player headerbar {
  border-bottom: solid 1px @envision_overlay_border_color;
}

.player mediacontrols {
  border-top: solid 1px @envision_overlay_border_color;
}

.player timelabel > label {
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.player scale.progress > trough {
  min-height: 0.9rem;
  border-radius: 0.25rem;
}

.player scale.progress > trough > slider {
  opacity: 0;
}

.player scale.progress > trough > highlight {
  border-radius: 0;
}

.player overlay > revealer > * {
  opacity: 0.96;
  min-height: 4rem;
  border: solid 1px @envision_overlay_border_color;
  border-radius: 0.5rem;
  margin: 0.8rem;
}

.player overlay > revealer * windowtitle {
  padding: .75rem;
}

.player overlay > revealer * windowtitle .title {
  font-size: 1.75rem;
}

.player overlay > revealer * windowtitle .subtitle {
  font-size: 1.25rem;
}

.player overlay > revealer * button {
  -gtk-icon-size: 1.7rem;
  margin: 0.5rem;
}

.player overlay > revealer * timelabel > label {
  font-size: 1.5rem;
  font-weight: 550;
}

.player overlay > revealer * scale.progress > trough {
  min-height: 1.5rem;
  border-radius: 0.4rem;
}
